body {
	background-image: url("ga_logo.png");

}


h1 {
	font-weight: bold;
	font-size: 100%;
	font-family: "arial";
	text-align: center;

}


h2 {
	font-size: 28;
	font-style: italic;
	font-weight: bold;
	text-align: center;

}


p {
	text-align: center;
	font-weight: bold;


}

li {
	list-style-type: none;
	text-align: center;
	font-weight: bold;

}