/******************************************
/* SETUP
/*******************************************/

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
  width: 400px;
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 55px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  background-color: #f0efef;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 960px;
  margin: auto;
}

header{
  height: 135px;
  background-color: #033048;
  margin: auto;
}

main{
  width: 700px;
  float: left;
  margin: 90px 0 0 90px;
}

aside{
  width: 240px;
  margin: 90px 0 0 20px;

  float: left;
}

footer {
  clear: both;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


/******************************************
/* HEADER
/*******************************************/


#logo{  
  font-weight: 800;  
  font-size: 50px;
  float: left;
  margin: 30px 0 0 90px;
  color: white;
}   

nav{
  font-weight: 600;
  font-size: 24px;
  margin: 0px 120px 0 0;
  padding-top: 45px;
}

nav ol{
  list-style-type: none;
  overflow: hidden
}

 nav li{
  display: inline;
  float: right;
 }

nav a{
 color: #f9e42e;
 text-decoration: none;
 padding-right: 50px;
}

/******************************************
/* MAIN
/*******************************************/



main h2{
  font-weight: 600;
  font-size: 40px;
  color: #033048 ;
}

main p{
  font-weight: 300;
  font-size: 24px;
  color: #606161;
}

.class{
  border-bottom-style: solid;
}

.read{
  width: 300px;
  float: right;
}

article a{
  font-weight: 600;
  font-size: 24px;
  color: #033048;
  text-decoration: none;
  text-align: right;
}

main p::first-letter {
    font-size: 300%;
    font-weight: 600;
    float: left;
  }

/******************************************
/* SIDEBAR
/*******************************************/


h3{
  font-size: 32px;
  font-weight: 800;
  color: #033048;
}

#catergories{
  margin-bottom: 60px;
}

#catergories ul{
    list-style-type: none;
}

#catergories li{
    display: block;
    color: #000;
    text-decoration: none;
}

#catergories a{
  font-weight: 600;
  font-size: 24px;
}

#about{
  margin-bottom: 50px;
}

#about p{
  font-weight: 300;
  font-size: 22px;
}

#about a{
  font-size: 22px;
  font-weight: 600;
  text-decoration: none; 
}


